body,
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
  padding: 25px 10px;
  min-height: 100vh;
  padding: 25px 10px;
  background-color: #292d3e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

main div.response {
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #1f6eca;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px 0;
  background: #3584e2;
  color: #fff;
}

main form {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 50px;
  position: relative;
}

main form::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #efeded;
  left: 0;
  bottom: 0;
}

main form h3 {
  font-size: 16px;
  color: #333;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
}

main form p {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main form p.desc {
  font-weight: bold;
  color: white;
}

main form .item-wrap {
  font-size: 1.3em;
  position: relative;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #efeded;
  cursor: pointer;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}

main form .item-wrap:hover {
  background-color: #efeded;
}

main form .item-wrap.active {
  background-color: rgba(255, 255, 255, 0.7);
}

main form .item-wrap:last-of-type {
  margin-bottom: 0;
}

main form .item-wrap input {
  position: absolute;
  opacity: 0;
}

main form .item-wrap input:focus ~ .checkmark {
  background-color: #3584e2 !important;
}

main form .item-wrap input:checked ~ .checkmark {
  background-color: #50990a;
}

main form .item-wrap input:checked ~ .checkmark:after {
  -webkit-box-shadow: none;
          box-shadow: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main form .item-wrap label {
  padding: 10px;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  display: block;
}

main form .item-wrap label p {
  margin: 0;
  padding-left: 30px;
  font-weight: bold;
}

main form .item-wrap .checkmark {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: #eee;
  -webkit-box-shadow: 0px 0 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
}

main form button {
  margin-top: 15px !important;
  padding: 0 20px !important;
  font-weight: bold;
}

main form .hint {
  color: #fbc32f;
  font-weight: bold;
}

main #identifier h3 {
  text-align: center;
  max-width: 300px;
  color: white;
  margin: 0 auto 20px;
  font-size: 14px;
  line-height: 20px;
}

main #identifier form {
  margin: 0 auto;
  display: block;
  width: 300px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.95);
}

main #identifier form::after {
  display: none;
}

main #identifier form button[type="submit"] {
  margin: 0 !important;
  width: 100%;
  font-weight: bold;
}

main #identifier form > div {
  margin-bottom: 15px;
}

main #identifier form > div span.title {
  min-width: 80px;
  display: inline-block;
  font-size: 15px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

main #identifier form > div span.innerTitle {
  min-width: 55px;
  display: inline-block;
  vertical-align: super;
}

main #identifier form > div label {
  font-size: 14px;
  font-weight: normal;
  color: #666;
  display: block;
  margin-left: 85px;
  margin-bottom: 10px;
}

main #identifier form input[type="number"] {
  width: 40px;
}

main #identifier form #agreement {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #identifier form #agreement label {
  margin: 0;
}

main #identifier form #agreement label input[type="checkbox"]::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 7px;
  background: white;
  width: 3px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main #identifier form #agreement label input[type="checkbox"]::before {
  left: 11px;
  top: 9.5px;
}

main #identifier form #agreement .title {
  font-size: 12px;
  font-weight: normal;
  color: #666;
  display: initial;
  margin-left: 5px;
  vertical-align: super;
}

main #sharedLink h3 {
  font-size: 14px;
  color: white;
  text-align: center;
  margin-bottom: 0;
  line-height: 20px;
}

main #sharedLink form {
  text-align: center;
}
/*# sourceMappingURL=index.css.map */